*{
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: none;
}

#timer{
    background-color: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    gap: 5px;

}

.button-container{
    background-color: none;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);    
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#clock{
    font-size: 100pt;
    display: block;
    background-color:none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;


}

/*EDIT MODAL*/
#closeModal{
    background-color:none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1;
}

#form{
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: none;
}

.divMinSec{
    display: flex;
    background-color: none;
    align-items: center;
    justify-content: center;
}

#minutes, #seconds{
    width: 150px;
    height: 150px;
    outline: none;
    font-size: 100pt;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    font-weight: bold;
    text-align: right;
    padding: 0px;
    margin: 0px;

}

#minutes::placeholder, #seconds::placeholder{
    color: rgba(255, 255, 255, 0.329);  
}

.colon{
    font-size: 100pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;

}

/*#okBtn{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(62deg, #1dcf35 0%, #68f7a8 100%);    
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
} */
